
 <div class="row justify-content-md-center">

    <div class="col-6-sm">
        <h1>Welcome <%= @user.fullname %></h1>

        <%= link_to 'Create new account', new_account_path, class:"btn btn-success" %>

        <%= link_to 'Delete the profile', user_path(@user), class:"btn btn-danger", method: :delete, data: {confirm: "Are you sure ?"}  %>

        <% @user.accounts.each do |account| %>
            <div class="card text-center mt-3">
                <div class="card-body">
                    <h2 class="card-title"><%= link_to account.account_id, account_path(account) ,class:"btn button badge badge-warning" %></h2>   
                </div>
                <div class="card-footer text-muted mt-3">
                    <small> Joined <%=  time_ago_in_words(account.created_at)  %> ago
                    </small>
                </div>
            </div>    
        <% end %>
    </div>
 </div>