
<h1>Transaction show page of <%= @account.user.fullname %> </h1>
<table class="table">
    <thead class="thead-light">
        <tr>
        <th>Amount</th>
        <th>Transaction type</th>
        <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <%= @transaction.amount %> </td>
            <td> <%= @transaction.transaction_type %> </td>
            <td> <%= @account.balance %> </td>
        </tr>
    </tbody>
</table>

<%= link_to "See all transactions of #{@account.user.fullname}", account_path(@account), class:"submit-btn btn btn-warning " %>


